html, body {
  height: 100%;
  width: 100%;
  margin-left : auto;
  margin-right : auto;
}
.screen1{
  height: 100%;
  width: 100%;
  position: absolute;
}
.bg{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
  }


.text0{
	position: absolute;
  height: 9vmin;
  width: 70vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform: translateY(-550%);
}
.text0-1 {
  /* 色はお好みで */
  stroke: black;
  font-family: "Yuji Syuku";
  font-style: normal;
  /* 色はお好みで */
  fill: red;
  /* 文字が大きい方がアニメーションが綺麗なので50pxを指定 */
  font-size: 50px;
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dasharray: 1000%;
  /* 線が細いほうがアニメーションが綺麗なので0.5pxを指定 */
  stroke-width: 1px;
  stroke-dashoffset: 1000%;
  fill:transparent;
  -webkit-animation: stroke-anim0 2s 4s ease-in both;
  animation: stroke-anim0 2s 4s ease-in both;
  stroke-dashoffset: 0%;
}

@-webkit-keyframes stroke-anim0 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 1000%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  stroke-dashoffset: 0%;
  fill:red;
}
}

@keyframes stroke-anim0 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 1000%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:red;
}
}

.text1{
	position: absolute;
  width: 63vmin;
  height: 63vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform: translateY(-20%);
}
.text1-1 {
  /* 色はお好みで */
  stroke: black;
  font-family: "Yuji Syuku";
  font-style: normal;
  /* 色はお好みで */
  fill: yellow;
  /* 文字が大きい方がアニメーションが綺麗なので50pxを指定 */
  font-size: 200px;
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dasharray: 2200%;
  /* 線が細いほうがアニメーションが綺麗なので0.5pxを指定 */
  stroke-width: 3px;
  -webkit-animation: stroke-anim1 4s 0.1s ease-in both;
  animation: stroke-anim1 4s 0.1s ease-in both;
}

@-webkit-keyframes stroke-anim1 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 2200%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:yellow;
}
}

@keyframes stroke-anim1 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 2200%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:yellow;
}
}

.text2{
	position: absolute;
  width: 85vmin;
  height: 18vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform: translateY(200%);
}
.text2-1 {
  /* 色はお好みで */
  font-family: "Yuji Syuku";
  font-style: normal;
  /* 色はお好みで */
  fill:transparent;
  /* 文字が大きい方がアニメーションが綺麗なので50pxを指定 */
  font-size: 20px;
  /* 100%だと最後まで表示されないので多めに設定する */
  -webkit-animation: stroke-anim2 2s 6s linear both;
  animation: stroke-anim2 2s 6s linear both;
}

@-webkit-keyframes stroke-anim2 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 1000%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:black;
}
}

@keyframes stroke-anim2 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 1000%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:black;
}
}
.text3{
	position: absolute;
  width: 70vmin;
  height: 8vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform: translateY(750%);
}
.text3-1 {
  /* 色はお好みで */
  font-family: "Yuji Syuku";
  font-style: normal;
  /* 色はお好みで */
  fill:transparent;
  /* 文字が大きい方がアニメーションが綺麗なので50pxを指定 */
  font-size: 25px;
  /* 100%だと最後まで表示されないので多めに設定する */
  -webkit-animation: stroke-anim3 1s 9s linear both;
  animation: stroke-anim3 1s 9s linear both;
}

@-webkit-keyframes stroke-anim3 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  fill:transparent;
}
10% {
  fill:transparent;
}
100% {
  fill:black;
}
}

@keyframes stroke-anim3 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  fill:transparent;
}
10% {
  fill:transparent;
}
100% {
  fill:black;
}
}

.obj0{
	position: absolute;
  width: 14vmin;
  height: 14vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform: translate( 210%, 420%);
}
.obj0-1 {
  width: 100%;
  height: 100%;
  /* 色はお好みで */
  -webkit-animation: stroke-anim4 1s 11s linear both;
  animation: stroke-anim4 1s 11s linear both;
}

@-webkit-keyframes stroke-anim4 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  opacity: 0%;
}
10% {
  opacity: 0%;
}
100% {
  opacity: 100%;
}
}

@keyframes stroke-anim4 {
  0% {
    /* 100%だと最後まで表示されないので多めに設定する */
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
  }