	
html, body {
  
  width: 100%;
  height:100%;
  margin-left : auto;
  margin-right : auto;
}
.screen1{
	position: absolute;
	width: 100%;
  height: 100%;
}
.bg{
  position: absolute;
  height: 100vmin;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}

.text0{
	position: absolute;
  width: 50vmin;
  height: 30vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  transform: translateY(-50%);
}
.text0-1 {
  /* 色はお好みで */
  stroke: black;
  font-family: "Yuji Syuku";
  /* 色はお好みで */
  fill: yellow;
  /* 文字が大きい方がアニメーションが綺麗なので50pxを指定 */
  font-size: 50px;
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dasharray: 400%;
  /* 線が細いほうがアニメーションが綺麗なので0.5pxを指定 */
  stroke-width: 1px;
  stroke-dashoffset: 400%;
  fill:transparent;
  -webkit-animation:  2s stroke-anim0 5s linear both;
  animation: 2s stroke-anim0 5s linear both;
  stroke-dashoffset: 0%;
}

@-webkit-keyframes stroke-anim0 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 400%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  stroke-dashoffset: 0%;
  fill:yellow;
}
}

@keyframes stroke-anim0 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 400%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:yellow;
}
}




.text1{
	position: absolute;
  width: 30vmin;
  height: 30vmin;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}
.text1-1 {
  /* 色はお好みで */
  stroke: black;
  font-family: "Yuji Syuku";
  /* 色はお好みで */
  fill: yellow;
  /* 文字が大きい方がアニメーションが綺麗なので50pxを指定 */
  font-size: 200px;
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dasharray: 400%;
  /* 線が細いほうがアニメーションが綺麗なので0.5pxを指定 */
  stroke-width: 3px;
  -webkit-animation: stroke-anim1 5s linear forwards;
  animation: stroke-anim1 5s linear forwards;
}

@-webkit-keyframes stroke-anim1 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 400%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:yellow;
}
}

@keyframes stroke-anim1 {
0% {
  /* 100%だと最後まで表示されないので多めに設定する */
  stroke-dashoffset: 400%;
  fill:transparent;
}
50% {
  fill:transparent;
}
80% {
  stroke-dashoffset: 0%;
  fill:transparent;
}
100% {
  fill:yellow;
}
}
